.service {
  /* overflow: auto; */
  margin: 100px auto;
  max-width: 800px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info > h2 {
  font-size: 30pt;
  line-height: 1.3;
  margin-bottom: 16px;
  color: #374553;
  opacity: 0;
  transform: translateX(30px);
  transition: all 1s;
}

.info > h2::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #00b8ff;
  border-radius: 9999px;
  position: relative;
  left: 5px;
  top: 5px;
}

.info > p {
  font-size: 14pt;
  line-height: 1.5;
  color: #aaaaaa;
  opacity: 0;
  transform: translateX(30px);
  transition: all 1s;
}

.show > img {
  width: 100%;
  margin: 50px 0;
  opacity: 0;
  transform: translateX(30px);
  transition: all 1s;
}
