.user {
  padding: 64px 0;
  padding-bottom: 180px;
  height: 300px;
  background-color: #f7f8f9;
  position: relative;
  overflow: hidden;
}

.user > .wrap > .contents {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  font-size: 28pt;
  color: #aaa;
}

.user > .wrap > .contents > span {
  color: #0bb8ff;
}

.user > .wrap > .blue {
  width: 30%;
  height: 100%;
  background-color: #0bb8ff;
  transform: skew(-30deg) translateX(1450px);
  position: absolute;
  top: 0px;
}
