.switch {
  width: 40px;
  height: 20px;
  border-radius: 16px;
  background-color: #cdd0d2;
  padding: 6px;
  display: flex;
  align-items: center;
}

.onswitch {
  background-color: #5d7d2b;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-color: white;
  transition: all 0.3s;
}

.oncircle {
  transform: translateX(20px);
}
